body {
    background-image:url('2F_4.png');
    background-repeat: no-repeat;
    background-size:1000px;
    background-position:initial;
    background-attachment: local;
    background-position: 0px 50px; 
}

#minimap {
	position: fixed;
	bottom:0px;
	right:0px;
    width:200px;
}

.btn1_1{
    position:page;
    display: block;
    width: 80px;
    height: 80px;
    color: #232323;
    line-height: 50px;
    text-align: center;
    border-radius: 12px 12px 12px 12px;
}

.btn2_2{
    position:page;
    display: block;
    width: 50px;
    height: 75px;
    color: #232323;
    text-align: center;
}

.l_u_Bold{
    border-radius: 18px 0px 0px 0px;
}

.l_d_Bold{
    border-radius: 0px 0px 0px 18px;
}

.r_u_Bold{
    border-radius: 0px 18px 0px 0px;
}

.r_d_Bold{
    border-radius: 0px 0px 18px 0px;
}

.btn1 {
    -webkit-transform: rotate(351deg);

    margin-left :17px;
    margin-top : 47px;
}

.btn2 {
    -webkit-transform: rotate(355deg);

    margin-left :195px;
    margin-top : -101px;
}

.btn3 {
    -webkit-transform: rotate(359deg);

    margin-left :374px;
    margin-top : -91px;
}

.btn4 {
    -webkit-transform: rotate(1deg);

    margin-left :551px;
    margin-top : -79px;
}

.btn5 {
    -webkit-transform: rotate(5deg);

    margin-left :729px;
    margin-top : -68px;
}

.btn6 {
    -webkit-transform: rotate(9.5deg);

    margin-left :907px;
    margin-top : -57px;
}

.btn7 {
    margin-left :356px;
    margin-top : 26px;
}

.btn8 {
    margin-left :414px;
    margin-top : -75px;
}

.btn9 {
    margin-left :545px;
    margin-top : -75px;
}

.btn10 {
    margin-left :604px;
    margin-top : -75px;
}

.btn11 {
    margin-left :356px;
    margin-top : 1px;
}

.btn12 {
    margin-left :414px;
    margin-top : -75px;
}

.btn13 {
    margin-left :545px;
    margin-top : -75px;
}

.btn14 {
    margin-left :604px;
    margin-top : -75px;
}

.btn15 {
    margin-left :356px;
    margin-top : 34px;
}

.btn16 {
    margin-left :414px;
    margin-top : -75px;
}

.btn17 {
    margin-left :545px;
    margin-top : -75px;
}

.btn18 {
    margin-left :604px;
    margin-top : -75px;
}

.btn19 {
    margin-left :356px;
    margin-top : 2px;
}

.btn20 {
    margin-left :414px;
    margin-top : -75px;
}

.btn21 {
    margin-left :545px;
    margin-top : -75px;
}

.btn22 {
    margin-left :604px;
    margin-top : -75px;
}

.btn23 {
    margin-left :357px;
    margin-top : 34px;
}

.btn24 {
    margin-left :414px;
    margin-top : -75px;
}

.btn25 {
    margin-left :545px;
    margin-top : -75px;
}

.btn26 {
    margin-left :604px;
    margin-top : -75px;
}

.btn27 {
    margin-left :357px;
    margin-top : 2px;
}

.btn28 {
    margin-left :414px;
    margin-top : -75px;
}

.btn29 {
    margin-left :545px;
    margin-top : -75px;
}

.btn30 {
    margin-left :604px;
    margin-top : -75px;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
 
