body {
    background-image:url('floor_4_seated.png');
    background-repeat: no-repeat;
    background-size:400px;
    background-position:initial;
    background-attachment: local;
    background-position: 0px 100px; 
    background-size: 494px 440px;
}

/*���� ��ư�� �����ϴ� �κ�*/
.circlebtn {
    position:page;
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    line-height: 100px;
    text-align: center;

    margin-left :160px;
    margin-top : 170px;

    z-index:1;
}

.btn1 {
    position:page;
    display: block;
    width: 60px;
    height: 100px;
    line-height: 100px;
    text-align: center;

    margin-left :40px;
    margin-top : -120px;
}

.btn2 {
    position:page;
    display: block;
    width: 100px;
    height: 70px;
    line-height: 100px;
    text-align: center;
    -webkit-transform: rotate(45deg);

    margin-left :90px;
    margin-top : -190px;
}

.btn3 {
    position:page;
    display: block;
    width: 160px;
    height: 40px;
    text-align: center;

    margin-left :165px;
    margin-top : -140px;
}

.btn4 {
    position:page;
    display: block;
    width: 95px;
    height: 55px;
    text-align: center;

    margin-left :195px;
    margin-top : 20px;
}

.btn5 {
    position:page;
    display: block;
    width: 100px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    -webkit-transform: rotate(315deg);

    margin-left :285px;
    margin-top : -50px;
}

.btn6 {
    position:page;
    display: block;
    width: 100px;
    height: 70px;
    line-height: 50px;
    text-align: center;

    margin-left :330px;
    margin-top : 35px;
}

.btn7 {
    position:page;
    display: block;
    width: 120px;
    height: 70px;
    line-height: 50px;
    text-align: center;
    -webkit-transform: rotate(45deg);

    margin-left :290px;
    margin-top : 40px;
}

.btn8 {
    position:page;
    display: block;
    width: 120px;
    height: 70px;
    line-height: 50px;
    text-align: center;
    -webkit-transform: rotate(90deg);

    margin-left :180px;
    margin-top : -40px;
}



* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

a {
  color: #000;
}


p a {
  color: #000000;
}
 
