<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>5F_Area#2</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/F5_2.css">

</head>
<body style="height:500px;width:100%;">
    <meta name="viewport" content="width=350px">
    <div class="well" style="height:53px;background-color:#232323;min-width:800px;">
        <a href="floorselect.html" class="Navvar btn-success" style="font-size:20px;width:180px;text-decoration:none;">박태준학술정보관</a>
        <a href="#" class="Navvar btn-success" style="margin-top:-46px; margin-left:190px;text-decoration:none;">내 정보 보기</a>
        <a href="#" class="Navvar btn-success" style="margin-top:-46px; margin-left:290px;text-decoration:none;">로그 아웃</a>
    </div>
    <div id="" style="overflow:scroll, hidden; height:390px; width:800px;">
        <!-- Buttons for selecting seat -->
        {% for area in areas %}
        {% if area.area_id == area_id %}
        {% for desk in area.desks.all %}
        {% if desk.desk_id == '5007' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn btn1 seat_green_color" style="text-decoration:none;">5007</a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn btn1 seat_yellow_color" style="text-decoration:none;">5007</a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn btn1 seat_red_color" style="text-decoration:none;">5007</a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5008' %}
        {% if desk.state == 'Using' %}

        <a href="seatselect.html" class="btn btn2 seat_green_color" style="text-decoration:none;">5008</a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn btn2 seat_yellow_color" style="text-decoration:none;">5008</a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn btn2 seat_red_color" style="text-decoration:none;">5008</a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5009' %}
        {% if desk.state == 'Using' %}

        <a href="seatselect.html" class="btn btn3 seat_green_color" style="text-decoration:none;">5009</a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn btn3 seat_yellow_color" style="text-decoration:none;">5009</a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn btn3 seat_red_color" style="text-decoration:none;">5009</a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5010' %}
        {% if desk.state == 'Using' %}

        <a href="seatselect.html" class="btn btn4 seat_green_color" style="text-decoration:none;">5010</a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn btn4 seat_yellow_color" style="text-decoration:none;">5010</a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn btn4 seat_red_color" style="text-decoration:none;">5010</a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5011' %}
        {% if desk.state == 'Using' %}

        <a href="seatselect.html" class="btn btn5 seat_green_color" style="text-decoration:none;">5011</a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn btn5 seat_yellow_color" style="text-decoration:none;">5011</a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn btn5 seat_red_color" style="text-decoration:none;">5011</a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5012' %}
        {% if desk.state == 'Using' %}

        <a href="seatselect.html" class="btn btn6 seat_green_color" style="text-decoration:none;">5012</a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn btn6 seat_yellow_color" style="text-decoration:none;">5012</a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn btn6 seat_red_color" style="text-decoration:none;">5012</a>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor%}

    </div>

    <div id="minimap">
        <a href="Floor_select_5.html"><img src="css/5F_2_minmap.png" id="minimap"></a>
    </div>

</body>
</html>