<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>5F_Area#5</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/F5_5.css">

</head>
<body style="height:500px;width:100%;">
    <meta name="viewport" content="width=350px">
    <div class="well" style="height:53px;background-color:#232323;min-width:500px;">
        <a href="floorselect.html" class="Navvar btn-success" style="font-size:20px;width:180px;text-decoration:none;">박태준학술정보관</a>
        <a href="#" class="Navvar btn-success" style="margin-top:-46px; margin-left:190px;text-decoration:none;">내 정보 보기</a>
        <a href="#" class="Navvar btn-success" style="margin-top:-46px; margin-left:290px;text-decoration:none;">로그 아웃</a>
    </div>
    <div id="" style="overflow:scroll, hidden; text-decoration:none; height:520px; width:500px;">
        <!-- Buttons for selecting seat -->
        {% for area in areas %}
        {% if area.area_id == area_id %}
        {% for desk in area.desks.all %}
        {% if desk.desk_id == '5022' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn1 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn1 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn1 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5023' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn2 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn2 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn2 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5024' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn3 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn3 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn3 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5025 %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn4 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn4 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn4 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5026' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn5 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn5 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn5 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5027' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn6 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn6 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn6 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5028' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn7 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn7 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn7 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5029' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn8 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn8 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn8 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5030' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn9 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn9 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn9 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5031' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn10 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn10 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn10 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5032' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn11 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn11 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn11 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5033' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn12 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn12 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn12 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5034' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn13 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn13 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn13 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5035' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn14 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn14 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn14 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5036' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn15 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn15 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn15 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5037' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn16 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn16 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn16 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5038' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn17 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn17 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn17 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5039' %}
        {% if desk.state == 'Using' %}
        <a href="seatselect.html" class="btn scirclebtn btn18 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="seatselect.html" class="btn scirclebtn btn18 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="seatselect.html" class="btn scirclebtn btn18 seat_red_color"></a>
        {% endif %}
        {% endif %}


        {% endfor %}
        {% endif %}
        {% endfor%}

    </div>

    <div id="minimap">
        <a href="Floor_select_5.html"><img src="css/5F_5_minmap.png" id="minimap"></a>
    </div>

</body>
</html>