<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>5F_Area#8</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/F5_8.css">

</head>
<body style="height:500px;width:100%;">
    <meta name="viewport" content="width=350px">
    <div class="well" style="height:53px;background-color:#232323;min-width:500px;">
        <a href="floorselect.html" class="Navvar btn-success" style="font-size:20px;width:180px;text-decoration:none;">박태준학술정보관</a>
        <a href="#" class="Navvar btn-success" style="margin-top:-46px; margin-left:190px;text-decoration:none;">내 정보 보기</a>
        <a href="#" class="Navvar btn-success" style="margin-top:-46px; margin-left:290px;text-decoration:none;">로그 아웃</a>
    </div>
    <div id="" style="overflow:scroll, hidden; text-decoration:none; height:550px; width:500px;">
        <!-- Buttons for selecting seat -->
        {% for area in areas %}
        {% if area.area_id == area_id %}
        {% for desk in area.desks.all %}
        {% if desk.desk_id == '5072' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5072" class="btn qcirclebtn btn1 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5072" class="btn qcirclebtn btn1 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5072" class="btn qcirclebtn btn1 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5073' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5073" class="btn qcirclebtn btn2 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5073" class="btn qcirclebtn btn2 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5073" class="btn qcirclebtn btn2 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5074' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5074" class="btn qcirclebtn btn3 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5074" class="btn qcirclebtn btn3 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5074" class="btn qcirclebtn btn3 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5075' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5075" class="btn qcirclebtn btn4 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5075" class="btn qcirclebtn btn4 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5075" class="btn qcirclebtn btn4 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5076' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5076" class="btn qcirclebtn btn5 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5076" class="btn qcirclebtn btn5 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5076" class="btn qcirclebtn btn5 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5077' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5077" class="btn qcirclebtn btn6 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5077" class="btn qcirclebtn btn6 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5077" class="btn qcirclebtn btn6 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5078' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5078" class="btn qcirclebtn btn7 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5078" class="btn qcirclebtn btn7 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5078" class="btn qcirclebtn btn7 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5079' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5079" class="btn qcirclebtn btn8 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5079" class="btn qcirclebtn btn8 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5079" class="btn qcirclebtn btn8 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5080' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5080" class="btn qcirclebtn btn9 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5080" class="btn qcirclebtn btn9 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5080" class="btn qcirclebtn btn9 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5081' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5081" class="btn qcirclebtn btn10 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5081" class="btn qcirclebtn btn10 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5081" class="btn qcirclebtn btn10 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5082' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5082" class="btn qcirclebtn btn11 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5082" class="btn qcirclebtn btn11 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5082" class="btn qcirclebtn btn11 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5083' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5083" class="btn qcirclebtn btn12 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5083" class="btn qcirclebtn btn12 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5083" class="btn qcirclebtn btn12 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5084' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5084" class="btn qcirclebtn btn13 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5084" class="btn qcirclebtn btn13 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5084" class="btn qcirclebtn btn13 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5085' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5085" class="btn qcirclebtn btn14 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5085" class="btn qcirclebtn btn14 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5085" class="btn qcirclebtn btn14 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5086' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5086" class="btn qcirclebtn btn15 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5086" class="btn qcirclebtn btn15 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5086" class="btn qcirclebtn btn15 seat_red_color"></a>
        {% endif %}
        {% endif %}
        {% if desk.desk_id == '5087' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5087" class="btn qcirclebtn btn16 seat_green_color"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5087" class="btn qcirclebtn btn16 seat_yellow_color"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5087" class="btn qcirclebtn btn16 seat_red_color"></a>
        {% endif %}
        {% endif %}


        {% endfor %}
        {% endif %}
        {% endfor%}
    </div>

    <div id="minimap">
        <a href="Floor_select_5.html"><img src="css/5F_8_minmap.png" id="minimap"></a>
    </div>

</body>
</html>