<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>5F_Area#9</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'css/F5_9.css' %}">

</head>
<body style="height:500px;width:100%;">
    <meta name="viewport" content="width=350px">
    <div class="well" style="height:53px;background-color:#232323;min-width:500px;">
        <a href="/home" class="Navvar btn-success" style="font-size:20px;width:180px;text-decoration:none;">박태준학술정보관</a>
        <a href="" class="Navvar btn-success" style="margin-top:-46px; margin-left:190px;text-decoration:none;">{{request.user.username}}</a>
        <a href="/logout/" class="Navvar btn-success" style="margin-top:-46px; margin-left:290px;text-decoration:none;">로그 아웃</a>
    </div>
    <div id="" style="overflow:scroll, hidden; text-decoration:none; height:640px; width:500px;">
        <!-- Buttons for selecting seat -->
        {% for area in areas %}
        {% if area.area_id == area_id %}
        {% for desk in area.desks.all %}

        {% if desk.desk_id == '5088' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5088" class="btn qcirclebtn btn1 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5088" class="btn qcirclebtn btn1 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5088" class="btn qcirclebtn btn1 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5089' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5089" class="btn qcirclebtn btn1 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5089" class="btn qcirclebtn btn1 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5089" class="btn qcirclebtn btn1 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5090' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5090" class="btn qcirclebtn btn1 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5090" class="btn qcirclebtn btn1 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5090" class="btn qcirclebtn btn1 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5091' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5091" class="btn qcirclebtn btn1 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5091" class="btn qcirclebtn btn1 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5091" class="btn qcirclebtn btn1 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5092' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5092" class="btn qcirclebtn btn1 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5092" class="btn qcirclebtn btn1 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5092" class="btn qcirclebtn btn1 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5093' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5093" class="btn qcirclebtn btn2 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5093" class="btn qcirclebtn btn2 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5093" class="btn qcirclebtn btn2 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5094' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5094" class="btn qcirclebtn btn3 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5094" class="btn qcirclebtn btn3 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5094" class="btn qcirclebtn btn3 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5095' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5095" class="btn qcirclebtn btn4 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5095" class="btn qcirclebtn btn4 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5095" class="btn qcirclebtn btn4 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5096' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5096" class="btn qcirclebtn btn5 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5096" class="btn qcirclebtn btn5 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5096" class="btn qcirclebtn btn5 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5097' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5097" class="btn qcirclebtn btn6 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5097" class="btn qcirclebtn btn6 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5097" class="btn qcirclebtn btn6 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5098' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5098" class="btn qcirclebtn btn7 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5098" class="btn qcirclebtn btn7 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5098" class="btn qcirclebtn btn7 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5099' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5099" class="btn qcirclebtn btn8 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5099" class="btn qcirclebtn btn8 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5099" class="btn qcirclebtn btn8 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5100' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5100" class="btn qcirclebtn btn9 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5100" class="btn qcirclebtn btn9 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5100" class="btn qcirclebtn btn9 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5101' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5101" class="btn qcirclebtn btn10 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5101" class="btn qcirclebtn btn10 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5101" class="btn qcirclebtn btn10 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5102' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5102" class="btn qcirclebtn btn11 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5102" class="btn qcirclebtn btn11 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5102" class="btn qcirclebtn btn11 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% if desk.desk_id == '5103' %}
        {% if desk.state == 'Using' %}
        <a href="/desk/5103" class="btn qcirclebtn btn12 seat_green_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'Empty' %}
        <a href="/desk/5103" class="btn qcirclebtn btn12 seat_yellow_color" style="text-decoration:none;"></a>
        {% endif %}
        {% if desk.state == 'NotUsing' %}
        <a href="/desk/5103" class="btn qcirclebtn btn12 seat_red_color" style="text-decoration:none;"></a>
        {% endif %}
        {% endif %}

        {% endfor %}
        {% endif %}
        {% endfor%}
    </div>

    <div id="minimap">
        <a href="/floor/5th/"><img src="{%static 'css/5F_9_minmap.png' %}" id="minimap"></a>
    </div>

</body>
</html>